/* SignIn.js */

.signIn {
  width: 375px;
  height: 812px;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  margin: 0;
  background-color: #181818 !important;
  z-index: 2;
  font-family: "Montserrat", sans-serif;
}
@media screen and (min-width: 420px) {
  body {
    display: flex;
    justify-content: center;
  }
  .signIn {
    width: 375px;
    height: 100vh;
  }
}

#AppLogo {
  position: absolute;
  top: 50px;
  left: 145px;
}
#LogoText {
  position: absolute;
  top: 142px;
  left: 107px;
  z-index: 100;
  width: 154px;
}
#wb {
  color: #707070;
  font-size: 15px;
  position: absolute;
  top: 231px;
  left: 36px;
}
#ali {
  position: absolute;
  top: 255px;
  left: 32px;
  font-size: "GothamPro";
  font-weight: 37;
  color: white;
  font-size: 28px;
}
.signin_methods button {
  background: #31323b;
  width: 168px;
  height: 58px;
  border-radius: 10px;
  border: 0px;
  outline: none;
  color: white;
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.signin_methods {
  position: absolute;
  top: 315px;
  left: 15px;
  display: flex;
}
.signin_methods img {
  margin-right: 12px;
}
#lwom {
  position: absolute;
  top: 400px;
  left: 138px;
  font-family: "Poppins", sans-serif;
  color: #707070;
  font-size: 10px;
}
.signin_inputs {
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 440px;
  left: 36px;
  width: 375px;
}
.signin_inputs input {
  width: 303px;
  height: 74px;
  background-color: #f9f9f9;
  border-radius: 20px;
  outline: none;
  text-indent: 20px;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 12px;
  border: 0px;
}
.signin_inputs button {
  background-color: #292a30;
  border-radius: 10px;
  width: 226px;
  height: 64px;
  color: white;
  outline: none;
  border: 0px;
  font-family: "GothamPro", sans-serif;
  font-size: 17px;
  cursor: pointer;
  position: relative;
  left: 38px;
}
.signin_inputs img {
  position: relative;
  z-index: 4;
  right: 40px;
  top: 2px;
  bottom: 5px;
}
.dha {
  position: absolute;
  top: 698px;
  font-family: "Poppins";
  color: #707070;
  font-size: 13px;
  left: 85px;
}
.dha span {
  color: white;
  cursor: pointer;
}
/* Register.js */
#persons {
  position: absolute;
  top: 60px;
  left: 62px;
}
#jtt {
  position: absolute;
  left: 30px;
  top: 167px;
  font-family: "Montserrat", sans-serif;
  color: #707070;
}
#ca {
  color: white;
  font-size: 28px;
  font-family: "GothamPro", sans-serif;
  position: absolute;
  top: 190px;
  left: 30px;
}
.r {
  position: absolute;
  top: 251px;
  left: 16px;
}
#ocue {
  position: absolute;
  top: 334px;
  left: 132px;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  color: #707070;
}
.re {
  position: absolute;
  top: 375px;
}
.reg {
  position: absolute;
  top: 707px;
}
.particles {
  width: 100vw;
  height: 100%;
  overflow-y: hidden;
  position: relative;
  margin: 0;
  padding: 0px;
  z-index: -2;
}
#loading {
  height: 80px;
  position: relative;
  left: 0;
  top: -8px;
}
.errors {
  position: absolute;
  top: 315px;
  left: 55px;
  font-style: "Montserrat", sans-serif;
  color: white;
  background: rgba(255, 68, 68, 0.925);
  width: 268px;
  height: 50px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.s {
  position: absolute;
  top: 380px;
}
